// path
$assetsImgPath: "~/img/";


$variable: yellow;
$black-color: #000;

// colors
$hr: #6b6b6b;

// border colors
$brflick: #c4c4c4;
$brdc: 4px solid #242424;
$brdctop: #cccccc;
$brdcbottom: #f7f7f7;
$brdTopInput: #262626;
// text colors
$white: #fff;
$colorP: #464646;
$colorLight: #8e8e8e;
$colorLink: #e8e8e8;
$colorLink-hover: #2f2f2f;
$colorWidget: #999999;
$colorFooterLink: #b2b2b2;

// btn colors
$btnGreen:linear-gradient(#96b435,#739a27);
$btnGray: linear-gradient(#d6d6d6,#b9babd);
$btnBlue: linear-gradient(#7fb0f4,#5586e2);
$btnOrange: linear-gradient(#f38a56,#de5d34);
$btnPink: linear-gradient(#ee81ee,#d856d9);
$btnRed: linear-gradient(#f45959,#ee4545);
$btnLightblue: linear-gradient(#77e2e8,#4dc6d0);

// font-size
$bgSize: 36px;
$h1Size:24px;
$h2Size: 16px;
$h3Size: 14px;
$pSize: 12px;

// alert colors
$alertGreen: #effeb9;
$alertGreenBrd: #98c601;
$alertRed: #fbcbc1;
$alertRedBrd: #eb5439;
$alertOrange: #ffe9ad;
$alertOrangeBrd: #fab418;
$alertBlue: #d1e4f3;
$alertBlueBrd:#4d8fcb;



